{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="w-full">
    <img src="{% static 'images/stall.png' %}" alt="モバイル屋台" class="w-full">
    <div class="max-w-screen-xl mx-auto p-16 text-xl">
        <p>
            モバイル屋台貸出システムは、その名の通り、モバイル屋台の貸出予約をすることができるWebアプリケーションです。
            モバイル屋台の貸出は、新潟県上越市に位置する「たてよこ書店」店主である堀田滉樹さんたちが構想している取り組みです。
            本システムは彼らの取り組みに利用する（現時点では）架空の予約システムとして作られています。
        </p>
        <p class="mt-8">
            本リポジトリはDjango学習用の中級者向けハンズオンとして公開しています。
            Djangoとは、Pythonで実装された代表的なWebアプリケーションフレームワークです。
            初学者向けの公式チュートリアルが公開されているので、Django未経験の方はぜひ公式チュートリアルで学習してみてください。
        </p>
        <p class="mt-8">
            本ハンズオンは、実際に使われることを想定したシステムを開発することで、公式チュートリアルから1歩進んだ学習コンテンツを作ることを意図しています。
            公式チュートリアルに取り組まれた方は、ぜひ本ハンズオンにも取り組んでいただけると嬉しいです。
            また、経験のある方は、ぜひ改善提案をしていただけると嬉しいです。
        </p>
    </div>
</div>
{% endblock %}